<%- include("./partials/header.ejs") %> 

    <div class="row">
        <div class="offset-md-4 col-md-6">
            <h3>HOME PAGE</h3>
            <h5>Welcome to your home page <strong><%= userName %> </strong></h5>
            <a name="" id="" class="btn btn-danger" href="/logout" role="button">Logout</a>
        </div>
    </div>
    
<%- include("./partials/footer.ejs") %> 