<%- include("./partials/header.ejs") %> 

    <% if (message.length > 0) { %>
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong><%= message %> </strong> 
        </div>
    <% } %>


    <script>
    $(".alert").alert();
    </script>

    <div class="row">
        <div class="offset-md-4 col-md-4">
            <h3>LOGIN</h3>
            <form action="/login" method="post">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" class="form-control" >
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control" required>
                </div>
                <input type="submit" value="Login" class="btn btn-sm btn-success">
                <br>
                <small><a href="/register">Register</a> instead</small>
            </form>
        </div>
    </div>
    
<%- include("./partials/footer.ejs") %> 